<div class="bg-gray-100 text-gray-800">

    <!-- Conteneur principal -->
    <div class="max-w-6xl mx-auto py-10">
        <!-- Conteneur de la boîte blanche -->
        <div class="bg-white shadow-md rounded-lg p-6">

            <div class="flex justify-between items-center mb-4">

                <h2 class="text-xl font-semibold"> Mes candidatures </h2>


            </div>
            <!-- Filtres -->
            <div class="flex flex-wrap gap-4 mb-6">
                <input type="text" placeholder="Rechercher" class="border px-4 py-2 rounded-md flex-grow">
                <!-- <button class="border px-4 py-2 rounded-md flex items-center">Trier par nom de annonces ▼</button>
                <button class="border px-4 py-2 rounded-md flex items-center">Liste ▼</button> -->
            </div>

            <!-- Liste des cours -->
            <div class="space-y-6">

                <!-- Cours 1 -->
                <div class="flex items-center gap-4 border-b pb-4">

                    <div class="flex-grow">
                        <a href="#" class="text-blue-600 font-medium">Algorithmes distribués</a>
                        <p class="text-gray-600 text-sm">Architecture logicielle</p>
                    </div>
                    <div class="flex items-center gap-5">
                        <span class="text-blue-500 hover:text-blue-700 bg-blue-200 px-3 py-1 rounded-md">
                            En attente
                        </span>
                    </div>

                </div>

                <!-- Cours 2 -->
                <div class="flex items-center gap-4 border-b pb-4">

                    <div class="flex-grow">
                        <a href="#" class="text-blue-600 font-medium">ANGLAIS</a>
                        <p class="text-gray-600 text-sm">Ouverture et Professionnalisation</p>
                    </div>
                    <div class="flex items-center gap-5">
                        <span class="text-red-500 hover:text-red-700 bg-purple-200 px-3 py-1 rounded-md">
                            Refuser
                        </span>
                    </div>

                </div>

                <!-- Cours 3 -->
                <div class="flex items-center gap-4">

                    <div class="flex-grow">
                        <a href="#" class="text-blue-600 font-medium">Architectures orientées services et
                            d’entreprise</a>
                        <p class="text-gray-600 text-sm">Architecture logicielle</p>
                    </div>
                    <div class="flex items-center gap-5">
                        
                        <span class="text-teal-500 hover:text-teal-700 bg-teal-200 px-3 py-1 rounded-md">
                            Valider
                        </span>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>