

<div class="bg-gray-100 text-gray-800">

    <div class="max-w-4xl mx-auto py-10">
        <div class="bg-white shadow-md rounded-lg p-6">
            <h2 class="text-xl font-semibold text-blue-900 mb-4">Informations utilisateur</h2>

            <div class="grid grid-cols-2 gap-y-4">
                <p class="text-gray-500">Profil</p>
                <p class="font-semibold">super-admin</p>

                <p class="text-gray-500">Nom</p>
                <p class="font-semibold uppercase">BARRY</p>

                <p class="text-gray-500">Prénom</p>
                <p class="font-semibold">Alpha Oumar</p>

                <p class="text-gray-500">Adresse mail</p>
                <p class="font-semibold text-blue-900">alphadevbarry&#64;gmail.com</p>

                <p class="text-gray-500">Téléphone</p>
                <p class="font-semibold">778009097</p>
            </div>
            <div class="mt-6 flex justify-end">
                <a href="update-profil" class="bg-blue-900 text-white px-6 py-3 rounded-md text-lg font-semibold w-full sm:w-auto">Modifier le profil</a>
            </div>
        </div>
    </div>

</div>