<div class="w-full  h-[60vh] relative">
    <div class="slide-hero w-full h-full">

        <!-- Slide -->
        <div class="item relative w-full h-[60vh] bg-cover bg-center"
            style="background-image: url('assets/images/tutoriel.jpg');">
            <div class="absolute inset-0 bg-black bg-opacity-40"></div>
            <div class="absolute inset-0 flex items-center justify-start px-10 lg:px-20">

                <div class="max-w-lg text-white">
                    <h1 class="text-3xl font-bold   ">
                        Rejoignez l’équipe des tuteurs de l’UNCHk !"
                    </h1>

                    <p class="mt-4 text-lg">
                        Postulez dès aujourd’hui et participez à la formation des étudiants. Consultez les offres et
                        soumettez votre candidature en quelques clics.
                    </p>

                    <div class="mt-6 flex space-x-4">

                        <a href="annonces"
                            class="px-6 py-3 bg-white text-black font-normal  hover:bg-gray-200 transition flex items-center justify-center gap-1">
                            Voir les Offres <i class="fa-solid fa-arrow-right-long"></i>
                        </a>

                        <a href="register"
                            class="px-6 py-3 bg-transparent border-2 border-white text-white font-normal  hover:bg-white hover:text-black transition flex items-center justify-center gap-1">
                            S'inscrire <i class="fa-solid fa-arrow-right-long"></i>
                        </a>

                    </div>


                </div>
            </div>
        </div>

    </div>

</div>



<div class="bg-gray-100 flex justify-center items-center  p-6">

    <!-- Conteneur principal -->
    <div class="bg-white p-10  max-w-6xl flex flex-col md:flex-row items-start space-x-0 md:space-x-10 relative">

        <!-- Encadrement bleu en arrière-plan -->

        <!-- Image -->
        <div class="relative z-10 md:w-1/2">
            <div class="absolute -bottom-3 -right-3 w-[100%] z-[-1] h-[100%] border-4 border-blue-500 hidden md:block">
            </div>
            <img src="assets/images/tuto-destop.jpg" alt="Livres" class=" ">
        </div>

        <!-- Texte -->
        <div class="relative z-10 text-gray-700">
            <h2 class="text-2xl font-bold">Pourquoi Devenir Tuteur ?</h2>
            <ul class="list-inside space-y-2 text-gray-700">
                <li class="flex items-center">
                    <span class="mr-2">✔️</span> Encadrement et transmission de savoir
                </li>
                <li class="flex items-center">
                    <span class="mr-2">✔️</span> Expérience valorisante sur le CV
                </li>
                <li class="flex items-center">
                    <span class="mr-2">✔️</span> Rémunération attractive
                </li>
                <li class="flex items-center">
                    <span class="mr-2">✔️</span> Flexibilité du tutorat en ligne
                </li>
            </ul>
            <div class="text-center my-6">
                <a href="#" class="bg-black text-white px-6 py-3 rounded">Voir les annonces</a>
            </div>
        </div>

    </div>

</div>


<div class="bg-gray-100 pb-5">
    <!-- Image de fond -->
    <div class="relative w-full">
        <!-- Section diagonale -->
        <div class=" top-40 left-0 w-full bg-[#0178B3] text-white p-10 transform ">
            <div class="max-w-5xl mx-auto">
                <h1 class="text-3xl font-bold">Annonces de Recrutement : Rejoignez notre équipe de tuteurs !</h1>
                <p class="mt-4 text-lg">Découvrez nos offres de tutorat et postulez pour faire partie de l’aventure
                    éducative numérique !</p>

                <div class="mt-6 flex space-x-4">
                    <a href="annonces"
                        class="bg-white text-yellow-600 px-6 py-3 rounded-md shadow font-semibold hover:bg-gray-100">
                        VOIR TOUS LES ANNONCES <i class="fa-solid fa-arrow-right-long"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Grid des secteurs -->
    <div class="max-w-6xl mx-auto mt-4 grid grid-cols-1 md:grid-cols-2 gap-8 ">

        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
            <div class="p-6">
                <h2 class="text-xl font-bold">Tuteur en Mathématiques (Niveau Universitaire)</h2>
                <p class="text-gray-600 mt-2">
                    Vous avez une solide maîtrise des mathématiques et souhaitez aider nos étudiants en ligne ?
                    Rejoignez notre équipe de tuteurs pour accompagner nos étudiants dans leurs cours de mathématiques à
                    distance.
                </p>
                <p class="text-gray-500 mt-2"><strong>Année académique : 2024-2025</strong></p>
                <div class="text-center my-6">
                    <a href="annonces/1" class="bg-black text-white px-6 py-3 rounded">Voir l’offre</a>
                </div>
            </div>
        </div>

        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
            <div class="p-6">
                <h2 class="text-xl font-bold">Tuteur en Programmation (Langages de développement)</h2>
                <p class="text-gray-600 mt-2">
                    Passionné par le codage et les technologies ? Aidez nos étudiants à perfectionner leurs compétences
                    en programmation via des sessions de tutorat en ligne.
                </p>
                <p class="text-gray-500 mt-2"><strong>Année académique : 2024-2025</strong></p>
                <div class="text-center my-6">
                    <a href="annonces/1" class="bg-black text-white px-6 py-3 rounded">Voir l’offre</a>
                </div>
            </div>
        </div>

        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
            <div class="p-6">
                <h2 class="text-xl font-bold">Tuteur en Histoire et Géopolitique</h2>
                <p class="text-gray-600 mt-2">
                    Vous êtes expert en histoire ou géopolitique et souhaitez transmettre vos connaissances à des
                    étudiants en ligne ? Rejoignez notre équipe pour offrir un soutien académique de qualité.
                </p>
                <p class="text-gray-500 mt-2"><strong>Année académique : 2024-2025</strong></p>
                <div class="text-center my-6">
                    <a href="annonces/1" class="bg-black text-white px-6 py-3 rounded">Voir l’offre</a>
                </div>
            </div>
        </div>

        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
            <div class="p-6">
                <h2 class="text-xl font-bold">Tuteur en Économie et Gestion</h2>
                <p class="text-gray-600 mt-2">
                    Si vous avez des compétences en économie ou en gestion, et que vous souhaitez accompagner des
                    étudiants dans leur parcours académique à distance, ce rôle est fait pour vous !
                </p>
                <p class="text-gray-500 mt-2"><strong>Année académique : 2024-2025</strong></p>
                <div class="text-center my-6">
                    <a href="annonces/1" class="bg-black text-white px-6 py-3 rounded">Voir l’offre</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="bg-gray-100">
    <div class=" max-w-6xl mx-auto py-5">
        <div class="grid grid-cols-1 md:grid-cols-2 relative">
            <!-- Section Formulaire -->
            <div class="bg-white  p-10  shadow-lg relative z-10">
                <h4 class="text-[#10B981] text-lg">Des Questions ?</h4>
                <h2 class="text-3xl font-bold text-[#111827] mt-2">Laissez-nous un Message</h2>
                <form action="#" class="mt-6 space-y-4">
                    <input type="text" placeholder="Nom"
                        class="w-full p-3 border border-gray-300 border-1 border-gray-300  focus:ring-1 focus:ring-[#10B981] focus:border-[#10B981] focus:outline-none">
                    <div class="grid grid-cols-2 gap-4">
                        <input type="email" placeholder="Email"
                            class="w-full p-3 border border-gray-300 border-1 border-gray-300  focus:ring-1 focus:ring-[#10B981] focus:border-[#10B981] focus:outline-none">
                        <input type="text" placeholder="Téléphone"
                            class="w-full p-3 border border-gray-300 border-1 border-gray-300  focus:ring-1 focus:ring-[#10B981] focus:border-[#10B981] focus:outline-none">
                    </div>
                    <textarea placeholder="ENVOYER UN MESSAGE*"
                        class="w-full p-3 border border-gray-300 border-1 border-gray-300  focus:ring-1 focus:ring-[#10B981] focus:border-[#10B981] focus:outline-none h-32"></textarea>
                    <button type="submit"
                        class="bg-[#10B981] text-white px-6 py-3 shadow-md hover:bg-green-700 transition w-full md:w-auto">
                        ENVOYER
                    </button>
                </form>
            </div>

            <!-- Section Contact -->
            <div class="bg-[#10B981] flex align-center justify-center text-white p-10 relative   shadow-lg">
                <div class="p-[10px">
                    <h2 class="text-3xl font-bold">Contact</h2>
                   
                    <div class="mt-6 space-y-4">
                        <p><span>Adresse :</span><br>Cité du savoir – Diamniadio.
                            Immeuble Ouakam Bloc D1 à côté de la station Elton – Ouest Foire – Dakar.</p>
                        <p><span>Email :</span><br><a href="mailto:contact@unchk.sn"
                                class="underline">contact&#64;unchk.sn</a></p>
                        <p><span>Téléphone :</span><br>+221 33 108 45 13 </p>
                    </div>
                    <!-- Carte Google Maps -->
                    <div class="mt-6 ">
                        <iframe class="w-full h-[200px]  shadow-md" frameborder="0" style="border:0;" allowfullscreen=""
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3858.741361711154!2d-16.95846192453766!3d14.791992573882803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec1733e92bc79cd%3A0xe374d83bdf1e0247!2sThies%2C%20S%C3%A9n%C3%A9gal!5e0!3m2!1sfr!2sfr!4v1700000000000">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    @for (user of users(); track $index) {
        <p>{{user}}</p>
    }

    <p *ngFor="let user of users()">{{user}}</p>
</div>