<div class="bg-gray-100 text-gray-800">

    <div class="max-w-6xl mx-auto py-10">


        <!-- Tableau des clients -->
        <div class="bg-white shadow-md rounded-lg p-6">
            <div class="flex justify-between items-center mb-4">

                <h2 class="text-xl font-semibold"> Années academiques </h2>

                <div class="flex space-x-2">
                    <a href="admin/annee-academique/add" class="bg-blue-900 text-white px-4 py-2 rounded-md">Ajouter</a>
                </div>
            </div>

            <!-- Recherche et affichage -->


            <!-- Tableau -->
            <div class="overflow-x-auto">
                <table class="w-full border-collapse border">
                    <thead>
                        <tr class="bg-gray-200 text-gray-700">
                            <th class="p-3 border">Libelle</th>
                            <th class="p-3 border">Date de debut</th>
                            <th class="p-3 border">Date de fin</th>
                            <th class="p-3 border">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border" *ngFor="let annee of anneeAcademique(); let i = index"
                            [ngClass]="{'bg-gray-100': i % 2 !== 0}">
                            <td class="p-3 border">{{annee.libelle}}</td>
                            <td class="p-3 border">{{annee.dateDebut}}</td>
                            <td class="p-3 border">{{annee.dateFin}}</td>
                            <td class="p-3 border flex space-x-2">
                                <button class="text-blue-500 hover:text-blue-700 bg-blue-200 px-3 py-1 rounded-md">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                <button (click)="onDelete(annee.id)"
                                    class="text-red-500 hover:text-red-700 bg-purple-200 px-3 py-1 rounded-md">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>