<!-- Footer -->
<footer class="bg-gray-900 py-10 px-6 text-gray-100 text-sm">
    

    <div class="mt-6 text-center">
        <p class="text-sm">Cité du savoir – Diamniadio.<br>Immeuble Ouakam Bloc D1 à côté de la station Elton – Ouest
            Foire – Dakar.</p>
        <p class="mt-2">+221 33 108 45 13 – contact&#64;unchk.edu.sn</p>
    </div>
    <div class="text-center my-2">
        <strong class="text-lg">Lien utiles</strong>
    </div>
    <div class="flex items-center justify-center space-x-4">
        <a href="/" class="text-gray-100 hover:underline text-md border-r-2 pe-2 border-gray-500">Accueil</a>
        <a href="annonces" class="text-gray-100 hover:underline text-md border-r-2 pe-2 border-gray-500">Annonces</a>
        <a href="contact" class="text-gray-100 hover:underline text-md border-r-2 pe-2 border-gray-500">Contact</a>
        <a href="login" class="text-gray-100 hover:underline text-md">Connexion</a>
    </div>

    <div class="mt-6 flex justify-center space-x-4">
        <a href="#" class="text-gray-100 text-lg"><i class="fab fa-facebook"></i></a>
        <a href="#" class="text-gray-100 text-lg"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-gray-100 text-lg"><i class="fab fa-linkedin"></i></a>
        <a href="#" class="text-gray-100 text-lg"><i class="fab fa-instagram"></i></a>
        <a href="#" class="text-gray-100 text-lg"><i class="fab fa-youtube"></i></a>
    </div>

    <p class="mt-6 text-center text-xs text-gray-500">Copyright © 2024 UN-CHK. Tous les droits sont réservés.</p>
</footer>