<div class="w-full  h-[60vh] relative">
    <div class="slide-hero w-full h-full">

        <!-- Slide -->
        <div class="item relative w-full h-[60vh] bg-cover bg-center"
            style="background-image: url('assets/images/tutoriel.jpg');">
            <div class="absolute inset-0 bg-black bg-opacity-40"></div>
            <div class="absolute inset-0 flex items-center justify-start px-10 lg:px-20">

                <div class="max-w-lg text-white">
                    <h1 class="text-3xl font-bold   ">
                        Contactez-nous!
                    </h1>

                    <p class="mt-4 text-lg">
                        Vous avez des questions sur le recrutement des tuteurs ou besoin d’assistance ? Contactez-nous
                        via le formulaire ci-dessous ou par les autres moyens mis à votre disposition.
                    </p>



                </div>
            </div>
        </div>

    </div>

</div>
<div class="bg-[#E8F0EC]">
    <div class=" max-w-6xl mx-auto py-5">
        <div class="grid grid-cols-1 md:grid-cols-2 relative">
            <!-- Section Formulaire -->
            <div class="bg-white  p-10  shadow-lg relative z-10">
                <h4 class="text-[#10B981] text-lg">Des Questions ?</h4>
                <h2 class="text-3xl font-bold text-[#111827] mt-2">Laissez-nous un Message</h2>
                <form action="#" class="mt-6 space-y-4">
                    <input type="text" placeholder="Nom"
                        class="w-full p-3 border border-gray-300 border-1 border-gray-300  focus:ring-1 focus:ring-[#10B981] focus:border-[#10B981] focus:outline-none">
                    <div class="grid grid-cols-2 gap-4">
                        <input type="email" placeholder="Email"
                            class="w-full p-3 border border-gray-300 border-1 border-gray-300  focus:ring-1 focus:ring-[#10B981] focus:border-[#10B981] focus:outline-none">
                        <input type="text" placeholder="Téléphone"
                            class="w-full p-3 border border-gray-300 border-1 border-gray-300  focus:ring-1 focus:ring-[#10B981] focus:border-[#10B981] focus:outline-none">
                    </div>
                    <textarea placeholder="ENVOYER UN MESSAGE*"
                        class="w-full p-3 border border-gray-300 border-1 border-gray-300  focus:ring-1 focus:ring-[#10B981] focus:border-[#10B981] focus:outline-none h-32"></textarea>
                    <button type="submit"
                        class="bg-[#10B981] text-white px-6 py-3 shadow-md hover:bg-green-700 transition w-full md:w-auto">
                        ENVOYER
                    </button>
                </form>
            </div>

            <!-- Section Contact -->
            <div class="bg-[#10B981] flex align-center justify-center text-white p-10 relative   shadow-lg">
                <div class="p-[10px">
                    <h2 class="text-3xl font-bold">Contact</h2>
                    <p class="mt-4 text-lg">
                        Prévoyez encore un endroit froid cette semaine. Je suis presque en train de faire ou de limiter
                        les cœurs. Résolvez les fêtes mais pourquoi elle montre.
                    </p>
                    <div class="mt-6 space-y-4">
                        <p><span>Adresse :</span><br>Cité du savoir – Diamniadio.
                            Immeuble Ouakam Bloc D1 à côté de la station Elton – Ouest Foire – Dakar.</p>
                        <p><span>Email :</span><br><a href="mailto:contact@unchk.sn"
                                class="underline">contact&#64;unchk.sn</a></p>
                        <p><span>Téléphone :</span><br>+221 33 108 45 13 </p>
                    </div>
                    <!-- Carte Google Maps -->
                    <div class="mt-6 ps-[80px]">
                        <iframe class="w-full h-[200px]  shadow-md" frameborder="0" style="border:0;" allowfullscreen=""
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3858.741361711154!2d-16.95846192453766!3d14.791992573882803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec1733e92bc79cd%3A0xe374d83bdf1e0247!2sThies%2C%20S%C3%A9n%C3%A9gal!5e0!3m2!1sfr!2sfr!4v1700000000000">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>