<div class="w-full  h-[60vh] relative">
    <div class="slide-hero w-full h-full">

        <div class="item relative w-full h-[60vh] bg-cover bg-center"
            style="background-image: url('assets/images/tutoriel.jpg');">
            <div class="absolute inset-0 bg-black bg-opacity-40"></div>
            <div class="absolute inset-0 flex items-center justify-start px-10 lg:px-20">

                <div class="max-w-lg text-white">
                    <h1 class="text-3xl font-bold   ">
                        Offres de Recrutement des Tuteurs de l’UNCHk !"
                    </h1>

                    <p class="mt-4 text-lg">
                        Consultez les annonces de recrutement et rejoignez l'équipe des tuteurs de l'UVS pour cette
                        année académique. Postulez en ligne en quelques étapes simples !
                    </p>



                </div>
            </div>
        </div>

    </div>

</div>

<div class="bg-[#E8F0EC] py-8">
    <!-- Image de fond -->
    <!-- <div class="relative w-full">
        <div class=" top-40 left-0 w-full bg-[#0178B3] text-white p-10 transform ">
            <div class="max-w-5xl mx-auto">
                <h1 class="text-3xl font-bold">Annonces de Recrutement : Rejoignez notre équipe de tuteurs !</h1>
                <p class="mt-4 text-lg">Découvrez nos offres de tutorat et postulez pour faire partie de l’aventure
                    éducative numérique !</p>

                <div class="mt-6 flex space-x-4">
                    <a href="#"
                        class="bg-white text-yellow-600 px-6 py-3 rounded-md shadow font-semibold hover:bg-gray-100">
                        VOIR TOUS LES ANNONCES <i class="fa-solid fa-arrow-right-long"></i>
                    </a>
                </div>
            </div>
        </div>
    </div> -->

    <div class="max-w-6xl mx-auto pt-4 bg-gray-100 p-6 rounded-lg shadow-md">
        <h2 class="text-xl font-semibold text-gray-700 mb-4">🔍 Rechercher une annonce</h2>


        <!-- Filtres -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <!-- Recherche par mot-clé -->
            <div class="">
                <input type="text" placeholder="Rechercher par mot-clé..."
                    class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <!-- Filtre Année Académique -->
            <select class="w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500">
                <option selected disabled>📅 Année académique</option>
                <option>2024</option>
                <option>2023</option>
                <option>2022</option>
                <option>2021</option>
            </select>

            <!-- Filtre Niveau -->
            <!-- <select class="w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500">
                <option selected disabled>🎓 Niveau</option>
                <option>Licence</option>
                <option>Master</option>
                <option>Doctorat</option>
            </select> -->

            <!-- Filtre Statut -->
            <select class="w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500">
                <option selected disabled>📌 Statut</option>
                <option>Ouvert</option>
                <option>Fermé</option>
            </select>
        </div>
        <div class="flex justify-center mt-6">
            <button class="bg-blue-600 text-white px-6 py-3 rounded-lg shadow-md hover:bg-blue-700 transition-all">
                🔍 Rechercher
            </button>
        </div>

    </div>


    <!-- Grid des secteurs -->
    <div class="max-w-6xl mx-auto mt-4 grid grid-cols-1 md:grid-cols-2 gap-8 ">

        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
            <div class="p-6">
                <h2 class="text-xl font-bold">Tuteur en Mathématiques (Niveau Universitaire)</h2>
                <p class="text-gray-600 mt-2">
                    Vous avez une solide maîtrise des mathématiques et souhaitez aider nos étudiants en ligne ?
                    Rejoignez notre équipe de tuteurs pour accompagner nos étudiants dans leurs cours de mathématiques à
                    distance.
                </p>
                <p class="text-gray-500 mt-2"><strong>Année académique : </strong> 2024-2025</p>
                <div class="text-center my-6">
                    <a href="annonces/1" class="bg-black text-white px-6 py-3 rounded">Voir l’offre</a>
                </div>
            </div>
        </div>

        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
            <div class="p-6">
                <h2 class="text-xl font-bold">Tuteur en Programmation (Langages de développement)</h2>
                <p class="text-gray-600 mt-2">
                    Passionné par le codage et les technologies ? Aidez nos étudiants à perfectionner leurs compétences
                    en programmation via des sessions de tutorat en ligne.
                </p>
                <p class="text-gray-500 mt-2"><strong>Année académique : </strong>2024-2025</p>
                <div class="text-center my-6">
                    <a href="annonces/1" class="bg-black text-white px-6 py-3 rounded">Voir l’offre</a>
                </div>
            </div>
        </div>

        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
            <div class="p-6">
                <h2 class="text-xl font-bold">Tuteur en Histoire et Géopolitique</h2>
                <p class="text-gray-600 mt-2">
                    Vous êtes expert en histoire ou géopolitique et souhaitez transmettre vos connaissances à des
                    étudiants en ligne ? Rejoignez notre équipe pour offrir un soutien académique de qualité.
                </p>
                <p class="text-gray-500 mt-2"><strong>Année académique : </strong>2024-2025</p>
                <div class="text-center my-6">
                    <a href="annonces/1" class="bg-black text-white px-6 py-3 rounded">Voir l’offre</a>
                </div>
            </div>
        </div>

        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
            <div class="p-6">
                <h2 class="text-xl font-bold">Tuteur en Économie et Gestion</h2>
                <p class="text-gray-600 mt-2">
                    Si vous avez des compétences en économie ou en gestion, et que vous souhaitez accompagner des
                    étudiants dans leur parcours académique à distance, ce rôle est fait pour vous !
                </p>
                <p class="text-gray-500 mt-2"><strong>Année académique : </strong>2024-2025</p>
                <div class="text-center my-6">
                    <a href="annonces/1" class="bg-black text-white px-6 py-3 rounded">Voir l’offre</a>
                </div>
            </div>
        </div>
    </div>
</div>