<div class="bg-gray-100 text-gray-800 pt-5">

    <div class="max-w-6xl mx-auto pt-10">

        <!-- Cartes Statistiques -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-6">
            <!-- Carte 1 -->
            <div class="bg-white shadow-md rounded-lg p-5 border-l-4 border-blue-400 flex justify-between">
                <div>
                    <p class="text-gray-500">Utilisateurs </p>
                    <p class="text-2xl font-semibold">3</p>
                    <a href="#" class="text-blue-500 text-sm">Voir plus</a>
                </div>
                <div class="text-blue-400 text-3xl">
                    <i class="fa-solid fa-users"></i>
                </div>
            </div>

            <!-- Carte 2 -->
            <div class="bg-white shadow-md rounded-lg p-5 border-l-4 border-green-400 flex justify-between">
                <div>
                    <p class="text-gray-500">Annonces</p>
                    <p class="text-2xl font-semibold">3</p>
                    <a href="#" class="text-blue-500 text-sm">Voir plus</a>
                </div>
                <div class="text-green-400 text-3xl">
                    <i class="fa-solid fa-bullhorn"></i>
                </div>
            </div>

            <!-- Carte 3 -->
            <div class="bg-white shadow-md rounded-lg p-5 border-l-4 border-red-400 flex justify-between">
                <div>
                    <p class="text-gray-500">Annonces en cours</p>
                    <p class="text-2xl font-semibold">0</p>
                    <a href="#" class="text-blue-500 text-sm">Voir plus</a>
                </div>
                <div class="text-red-400 text-3xl">
                    <i class="fa-solid fa-spinner"></i>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="bg-gray-100 text-gray-800 py-3">

    <!-- Conteneur principal -->
    <div class="max-w-6xl mx-auto ">
        <!-- Conteneur de la boîte blanche -->
        <div class="bg-white shadow-md rounded-lg p-6">

            <div class="flex justify-between items-center mb-4">

                <h2 class="text-xl font-semibold"> Les annonces recents</h2>

                
            </div>
            

            <!-- Liste des cours -->
            <div class="space-y-6">

                <!-- Cours 1 -->
                <div class="flex items-center gap-4 border-b pb-4">

                    <div class="flex-grow">
                        <a href="#" class="text-blue-600 font-medium">Algorithmes distribués</a>
                        <p class="text-gray-600 text-sm">Architecture logicielle</p>
                    </div>
                    <div class="flex items-center gap-5">
                        <button class="text-blue-500 hover:text-blue-700">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <button class="text-red-500 hover:text-red-700">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                        <button class="text-teal-500 hover:text-teal-700">
                            <i class="fa-solid fa-eye"></i>
                        </button>
                    </div>

                </div>

                <!-- Cours 2 -->
                <div class="flex items-center gap-4 border-b pb-4">

                    <div class="flex-grow">
                        <a href="#" class="text-blue-600 font-medium">ANGLAIS</a>
                        <p class="text-gray-600 text-sm">Ouverture et Professionnalisation</p>
                    </div>
                    <div class="flex items-center gap-5">
                        <button class="text-blue-500 hover:text-blue-700">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <button class="text-red-500 hover:text-red-700">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                        <button class="text-teal-500 hover:text-teal-700">
                            <i class="fa-solid fa-eye"></i>
                        </button>
                    </div>

                </div>

                <!-- Cours 3 -->
                <div class="flex items-center gap-4">

                    <div class="flex-grow">
                        <a href="#" class="text-blue-600 font-medium">Architectures orientées services et
                            d’entreprise</a>
                        <p class="text-gray-600 text-sm">Architecture logicielle</p>
                    </div>
                    <div class="flex items-center gap-5">
                        <button class="text-blue-500 hover:text-blue-700">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <button class="text-red-500 hover:text-red-700">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                        <button class="text-teal-500 hover:text-teal-700">
                            <i class="fa-solid fa-eye"></i>
                        </button>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>